/* styling for navigation bar */
.navbar {
  padding: 10px;
  background: white;
  padding-right: 100px
}
.navbar-brand img{
  margin-top: 18px;
  margin-left: 60px;
}
.nav-color {
color:goldenrod;
font-weight: bold;
font-size: 2em;

}
.navbar li a {
  color: #000;
  text-decoration: none;
}

/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: lightgrey;
}
.container {
  width: 100%;
}
.container-fluid {
  width: 85%;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 20px;
}
p{
  font-size: 16px;
}

.box{
  padding: 20px;
  background: white;
  margin-top:20px;
  margin-left:8px;
  margin-right:8px;
  margin-bottom:10px;
  align-content: center;
} 
.box img{
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.box a img{
  padding: 10px;
}
.plot_img{
  width: 95%; 
  float: center; 
  margin : 15px;
}
.title{
  font-style: italic;
  margin-left: 45px;
  margin-top: 20px;
}
.hr{
  border-bottom-color: 2px solid goldenrod;
}



/* styling for the footer */
.footer {
  border-top: 6px solid goldenrod;
  font: italic;
  background-color: rgb(121, 119, 119);
  text-align: center;
  padding: 10px;
}
.footer p {
  font-style: italic;
  color: white;
  text-align: center;
}
a{
  color: goldenrod;
}